<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="27" />
<!--	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="30" />-->
	<application android:label="Baskervilles.Droid"></application>
</manifest>